.planpage__plan {
  display: flex;
  margin: 20px;
  height: fit-content;
  justify-content: space-between;
  padding: 5px;
  opacity: 0.8;
}

.planpage__plan:hover {
  opacity: 1;
}

.planpage__plan > button {
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
